<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>
			Simple Recorder.js demo with record, stop and pause - addpipe.com
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<h1>Simple Recorder.js demo</h1>
		<p>
			<small
				>Made by the
				<a href="https://addpipe.com" target="_blank"
					>Pipe Video Recording Platform</a
				></small
			>
		</p>
		<p>
			This demo uses
			<a href="https://github.com/mattdiamond/Recorderjs" target="_blank"
				>Recorder.js</a
			>
			to record wav/PCM audio directly in the browser. Matt Diamond‘s
			<a target="_blank" href="https://github.com/mattdiamond/Recorderjs"
				>Recorder.js</a
			>
			is a popular JavaScript library for recording audio in the browser as
			uncompressed pcm audio in .wav containers. Before it, the only way to
			record audio was to use Flash.
		</p>
		<p>
			Check out the
			<a
				href="https://github.com/addpipe/simple-recorderjs-demo"
				target="_blank"
				>code on GitHub</a
			>
			and
			<a
				href="https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/"
				target="_blank"
				>our blog post on using Recorder.js to capture WAV audio</a
			>.
		</p>
		<div id="controls">
			<button id="recordButton">Record</button>
			<button id="pauseButton" disabled>Pause</button>
			<button id="stopButton" disabled>Stop</button>
		</div>
		<div id="formats">Format: start recording to see sample rate</div>
		<p><strong>Recordings:</strong></p>
		<h1>{{message}}</h1>
		<ol id="recordingsList"></ol>
		<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
		<script src="static/recorder.js"></script>
		<script src="static/app.js"></script>
	</body>
</html>
